<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Login e Registro</title>
</head>
<body>
    <div class="wrapper">
        <div class="form-header">
            <div class="titles">
                <div class="title-login">Login</div>
                <div class="title-register">Registro</div>
            </div>
        </div>

        <!-- LOGIN FORM -->
        <form action="{{ url_for('login.login') }}" method="POST" class="login-form" autocomplete="off">
            <div class="input-box">
                <input type="text" class="input-field" id="log-email" name="email" required />
                <label for="log-email" class="label">Email</label>
                <i class='bx bx-envelope icon'></i>
                <span class="error-message"></span>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" id="log-pass" name="senha" required />
                <label for="log-pass" class="label">Senha</label>
                <i class='bx bx-lock-alt icon'></i>
                <span class="error-message"></span>
            </div>
            <div class="form-cols">
                <div class="col-1"></div>
                <div class="col-2">
                    <a href="#">Esqueceu a senha?</a>
                </div>
            </div>
            <div class="input-box">
                <button class="btn-submit" id="SignInBtn" type="submit">Login <i class='bx bx-log-in'></i></button>
            </div>
            <div class="switch-form">
                <span>Não tem uma conta? <a href="#" onclick="registerFunction()">Registre-se</a></span>
            </div>
        </form>

        <!-- REGISTER FORM -->
        <form action="{{ url_for('login.registro') }}" method="POST" class="register-form" autocomplete="off">
            <div class="input-box">
                <input type="text" class="input-field" id="reg-name" name="nome" required />
                <label for="reg-name" class="label">Nome de usuário</label>
                <i class='bx bx-user icon'></i>
                <span class="error-message"></span>
            </div>
            <div class="input-box">
                <input type="text" class="input-field" id="reg-email" name="email" required />
                <label for="reg-email" class="label">Email</label>
                <i class='bx bx-envelope icon'></i>
                <span class="error-message"></span>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" id="reg-pass" name="senha" required />
                <label for="reg-pass" class="label">Senha</label>
                <i class='bx bx-lock-alt icon'></i>
                <span class="error-message"></span>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" id="confi-pass" name="confirma_senha" required />
                <label for="confi-pass" class="label">Confirmar senha</label>
                <i class='bx bx-lock-alt icon'></i>
                <span class="error-message"></span>
            </div>
            <div class="input-box">
                <button class="btn-submit" id="SignUpBtn" type="submit">Registre-se <i class='bx bx-user-plus'></i></button>
            </div>
            <div class="switch-form">
                <span>Já tem uma conta? <a href="#" onclick="loginFunction()">Faça o login</a></span>
            </div>
        </form>
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>