<!DOCTYoPE html> 
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_inicial.css') }}">

    <title>catalogo</title>
</head>
<body>
    <div class="navdiv">

        <div class="header-inner-content">
            <h1 class="logo">Toca <span>Literaria</span></h1>
            <nav>
                <ul>
                    <li><a href="inicial.html">Home</a></li>
                    <li><a href="sobre.html">sobre</a></li>
                    <li><a href="em-breve.html">conta</a></li>
                </ul>
            </nav>
            <div class="nav-icon-container">
                <a href="em-breve.html"><img src="cart.png"></a>
                <img src="menu.png" class="menu-button">
            </div>
        </div>
    </div>
</body>
    <header>
        <div class="header--inner-content">
            <div class="header-bottom-side">
                <div class="header-bottom-side-left">
                    <h2>LEIA, APRENDA, DESCUBRA.</h2>
                    <p>
                        explore um acervo completo de livros, tudo ao seu alcance
                        a qualquer hora e em qualquer lugar. Aqui, o conhecimento está a apenas
                         um clique de distância. Boa leitura!
                    </p>
                    <button id="rolar">ver agora</button>
                </div>
                <div class="header-bottom-side-right">
                    <img src="harry.png">

                </div>

            </div>
        </div>
    </header>
    <main>
        <div class="gray-background">
            <div class="page-inner-content">
                <div class="cols cols-3">
                    <a href="goggins.html"><img src="goggins.png"></a>
                    <a href="calculo.html"><img src="calculo.png"></a>
                    <a href="chorao.html"><img src="chorao.png"></a>
               
                </div>
            </div>
                    </div>
                </div>
            </div>
            <div class="page-inner-content">
                <h3 class="section-title"><a href="">inicio</a></h3>
                <div class="subtitle-underline"></div>
                <div class="cols cols-4">
                    <div class="product" >
                        <a href="zaratustra.html"><img src="zara.webp"></a>
                        <p class="product-name">assim falou zaratustra</p>
                        <p class="rate">★ ★ ★ ★☆</p>
                        <p product-price>50,00 R$</p>
                        </div>
                        
                        <div class="product">
                            <a href="memoria-subsolo.html"><img src="subsolo.avif"></a>
                       
                        <p class="product-name">memorias do subsolo</p>
                        <p class="rate">★ ★ ★ ★☆</p>
                        <p product-price>35,00 R$</p>
                        </div>

                        <div class="product"> 
                           <a href="python.html"><img src="python.webp"></a>
                        
                        <p class="product-name">python e django</p>
                        <p class="rate">★ ★ ★ ★★</p>
                        <p product-price>85,00 R$</p>
                        </div>  

                        <div class="product">
                            <a href="leis-poder.html"><img src="leis.jpg"></a>
                      
                        <p class="product-name">as 48 leis do poder</p>
                        <p class="rate">★ ★ ★ ★★</p>
                        <p product-price>120,00 R$</p>
                        </div>
                    
                </div>
                <div class="page-inner-content">
                <h3 class="section-title"> <a href="">Best-Sellers</a></h3>
                <div class="subtitle-underline"></div>
                <div class="cols cols-4">
                    <div class="product">
                        <img src="1984.jpg">
                        <p class="product-name">1984</p>
                        <p class="rate">★ ★ ★ ★☆</p>
                        <p product-price>69,90 R$</p>
                        </div>
                        
                        <div class="product">
                        <img src="assim-que-acaba.jpg">
                        <p class="product-name">é assim que acaba</p>
                        <p class="rate">★ ★ ★ ★☆</p>
                        <p product-price>50,00 R$</p>
                        </div>

                        <div class="product">  
                        <img src="pprincipe.jpeg">
                        <p class="product-name">o pequeno príncipe</p>
                        <p class="rate">★ ★ ★ ★★</p>
                        <p product-price>37,00 R$</p>
                        </div>  

                        <div class="product">
                        <img src="rev-bichos.jpeg">
                        <p class="product-name">revolução dos bichos</p>
                        <p class="rate">★ ★ ★ ★★</p>
                        <p product-price>50,00 R$</p>
                        </div>
                    
                </div>
                    <div class="page-inner-content">
                <h3 class="section-title"><a href="">literatura classica</a></h3>
                <div class="subtitle-underline"></div>
                <div class="cols cols-4">
                    <div class="product">
                        <img src="senhora.jpeg">
                        <p class="product-name">senhora</p>
                        <p class="rate">★ ★ ★ ★☆</p>
                        <p product-price>50,00 R$</p>
                        </div>
                        
                        <div class="product">
                        <img src="processo.jpeg">
                        <p class="product-name">o processo</p>
                        <p class="rate">★ ★ ★ ★☆</p>
                        <p product-price>50,00 R$</p>
                        </div>

                        <div class="product">  
                        <img src="domcas.jpeg">
                        <p class="product-name">dom casmurro</p>
                        <p class="rate">★ ★ ★ ★★</p>
                        <p product-price>50,00 R$</p>
                        </div>  

                        <div class="product">
                        <img src="irmaos.jpeg">
                        <p class="product-name">os irmãos karamazov</p>
                        <p class="rate">★ ★ ★ ★★</p>
                        <p product-price>50,00 R$</p>
                        </div>
                    
                </div>
                        <div class="page-inner-content">
                <h3 class="section-title"><a href="">ficção</a></h3>
                <div class="subtitle-underline"></div>
                <div class="cols cols-4">
                    <div class="product">
                        <img src="pedra-filosofal.jpeg">
                        <p class="product-name">a pedra filosofal</p>
                        <p class="rate">★ ★ ★ ★☆</p>
                        <p product-price>50,00 R$</p>
                        </div>
                        
                        <div class="product">
                        <img src="dexter.jpeg">
                        <p class="product-name">mão esquerda de deus</p>
                        <p class="rate">★ ★ ★ ★☆</p>
                        <p product-price>50,00 R$</p>
                        </div>

                        <div class="product">  
                        <img src="reliquias-harry.jpg">
                        <p class="product-name">as reliquias da morte</p>
                        <p class="rate">★ ★ ★ ★★</p>
                        <p product-price>50,00 R$</p>
                        </div>  

                        <div class="product">
                        <img src="sherlock.jpg">
                        <p class="product-name">sherlock holmes</p>
                        <p class="rate">★ ★ ★ ★★</p>
                        <p product-price>50,00 R$</p>
                        </div>
                    
                </div>
                </div>
                        <div class="page-inner-content">
                <h3 class="section-title"><a href="">não ficção</a></h3>
                <div class="subtitle-underline"></div>
                <div class="cols cols-4">
                    <div class="product">
                        <img src="sapiens.jpeg">
                        <p class="product-name">sapiens</p>
                        <p class="rate">★ ★ ★ ★☆</p>
                        <p product-price>50,00 R$</p>
                        </div>
                        
                        <div class="product">
                        <img src="habitos-atomicos.jpeg">
                        <p class="product-name">habitos atômicos</p>
                        <p class="rate">★ ★ ★ ★☆</p>
                        <p product-price>50,00 R$</p>
                        </div>

                        <div class="product">  
                        <img src="rapido-devagar.jpeg">
                        <p class="product-name">rapido e devagar</p>
                        <p class="rate">★ ★ ★ ★★</p>
                        <p product-price>50,00 R$</p>
                        </div>  

                        <div class="product">
                        <img src="nunca-parar.jpeg">
                        <p class="product-name">nunca é hora de parar</p>
                        <p class="rate">★ ★ ★ ★★</p>
                        <p product-price>50,00 R$</p>
                        </div>
                    
                </div>
            </div>
        </div>
        <div class="gray-background">
            <div class="page-inner-content">
                <div class="header-bottom-side exclusive-container">
                <div class="header-bottom-side-left">
                    <h2>EXCLUSIVO</h2>
                    <p>
                        transforme sua mentalidade a partir
                        de novas pespectivos: fixa e progressiva
                    </p>
                    <button onclick="buttonMindset()">ver agora</button>
                </div>
                <div class="header-bottom-side-right">
                    <img src="mind.png">

                </div>
            </div>
            
        </div>  
            
        </div>
        <div class="espaco">ㅤ</div> 
        <div class="espaco">ㅤ</div> 
        <div class="espaco">ㅤ</div> 
        <div class="espaco">ㅤ</div> 
                                        
                    
                    
    </main>
    <footer class="gray-background">
        <div class="page-inner-content footer-content">
            <div class="logo-footer">
                <h1 class="logo">Toca <span>Literaria</span></h1>
                <br>
                <p>A MELHOR LIVRARIA DO BRASIL</p>
                <br>
            </div>
            <div class="links-footer">
                <h3>links úteis</h3>
                <ul>
                    <li><a href="em-breve.html">Cupons</a></li>
                    <li><a href="em-breve.html">blog posts</a></li>
                    <li><a href="em-breve.html"></>politicas</a></li>
                    <li><a href="em-breve.html"></>sobre</a></li>
                </ul>
                
            </div>
        </div>
    </footer>
    <script>
              
        const navdiv = document.querySelector(".navdiv")
        const menuButton = document.querySelector(".menu-button")

        menuButton.addEventListener("click",() =>{
            navdiv.classList.toggle("show-menu");
    
    })
// Passo 3.1: Selecionar o botão
    const botaoRolar = document.getElementById('rolar');

// Passo 3.2: Adicionar o evento de clique
    botaoRolar.addEventListener('click', function() {
    // Passo 3.3: Calcular a posição atual + altura da janela
    const posicaoAtual = window.pageYOffset;
    const alturaJanela = window.innerHeight;
    
    // Passo 3.4: Definir para onde rolar (1 tela abaixo)
    const destino = posicaoAtual + (alturaJanela *2.67);
    
    // Passo 3.5: Criar a animação de rolagem suave
    window.scrollTo({
        top: destino,
        behavior: 'smooth' // Isso faz a rolagem ser suave
    });
});
</script>

<script>
    function buttonMindset() {
    window.location.href = "mindset.html";
}
</script>
    </script>
</html>