<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/storage/emulated/0/livraria/static/css/
sobre.css"">
    <title>catalogo</title>
</head>
<body>
    <div class="navdiv">
        
        <div class="header-inner-content">
            <h1 class="logo">Toca <span>Literaria</span></h1>
            <nav>
                <ul>
                    <li><a href="inicial.html">Home</a></li>
            
                    <li><a href="sobre.html">sobre</a></li>
                    <li><a href="#">conta</a></li>
            </nav>
            <div class="nav-icon-container">
                <img src="cart.png">
                <img src="menu.png" class="menu-button">
            </div>
        </div>
        
        
    </div>
    <div class="container">
        <div class="sobre">
        <h1>SOBRE</h1>
            <p>
                Bem-vindo à Toca Literária, seu refúgio digital para
                descobertas literárias e enriquecimento intelectual.
                nascemos da paixão compartilhada por livros
                e do desejo de criar um espaço onde leitores possam explorar
                mundos infinitos através das páginas.  
            </p>
        </div>
        <div class="proposito">
            <h1>PROPÓSITO</h1>
            <p>
             Nosso propósito é simples, mas poderoso: 
             conectar pessoas a histórias que transformam.
              Acreditamos que cada livro carrega o potencial de
                 mudar perspectivas, inspirar ações e ampliar horizontes.
                 Por isso, 
                 selecionamos cuidadosamente cada título em nosso acervo, garantindo
                 qualidade e diversidade para todos os gostos. 
        </div>
    </div>
    </div>
    <script>
              
        const navdiv = document.querySelector(".navdiv")
        const menuButton = document.querySelector(".menu-button")

        menuButton.addEventListener("click",() =>{
            navdiv.classList.toggle("show-menu");
    
    })
</script>
</html>